# Puerto (Render lo asigna automaticamente)
PORT=3000

# PostgreSQL (Render: usa DATABASE_URL)
DATABASE_URL=postgresql://leonel055:1eLZf9tCZS9tGSwoSJLWUsGhXwomE0TK@dpg-d9f5htfavr4c73c6o1k0-a/mariglamour

# O variables individuales (para desarrollo local)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=MariGlamour
DB_USER=postgres
DB_PASS=tu_password

# JWT
JWT_SECRET=tu_clave_secreta_aqui

# Frontend URL (para CORS)
FRONTEND_URL=https://tu-sitio.netlify.app
